* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bannerPrincipal {
    min-height: 554px;
    background-image: url(../../assets/banner.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    padding-left: 10rem;
    

        h2 {
            color: #FFF;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 2rem;
            width: 25%;
        
        }
}